In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

#Uber-Trip-Analysis -> Data Understanding

##Objective:
To explore and understand the structure and contents of the Uber Trips dataset, including feature meanings, data types, and basic statistics, before performing any analysis.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/uberTripAnalysis/data/raw.csv')

In [ ]:
df.head()

  dispatching_base_number      date  active_vehicles  trips
0                  B02512  1/1/2015              190   1132
1                  B02765  1/1/2015              225   1765
2                  B02764  1/1/2015             3427  29421
3                  B02682  1/1/2015              945   7679
4                  B02617  1/1/2015             1228   9537

In [ ]:
df.isnull().sum()

dispatching_base_number    0
date                       0
active_vehicles            0
trips                      0
dtype: int64

In [ ]:
df.isna().sum()

dispatching_base_number    0
date                       0
active_vehicles            0
trips                      0
dtype: int64

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
df.describe

<bound method NDFrame.describe of     dispatching_base_number       date  active_vehicles  trips
0                    B02512   1/1/2015              190   1132
1                    B02765   1/1/2015              225   1765
2                    B02764   1/1/2015             3427  29421
3                    B02682   1/1/2015              945   7679
4                    B02617   1/1/2015             1228   9537
..                      ...        ...              ...    ...
349                  B02764  2/28/2015             3952  39812
350                  B02617  2/28/2015             1372  14022
351                  B02682  2/28/2015             1386  14472
352                  B02512  2/28/2015              230   1803
353                  B02765  2/28/2015              747   7753

[354 rows x 4 columns]>

In [ ]:
df.shape

(354, 4)

In [ ]:
df.columns

Index(['dispatching_base_number', 'date', 'active_vehicles', 'trips'], dtype='object')


**dispatching_base_number** : Uber base license ID

**date** : Date of Operation

**active_vehicles** : Number of active vehicles on that day

**trips** : Number of trips completed that day